$primary-color:   #ff5443;
$secondary-color: #86b1c1;
$correct-color:   #95c11f;
$text-color:      #333333;

$incorrect: $primary-color;
$pending:   $primary-color;
$accepted:  $correct-color;
$list-item: $secondary-color
