<div class="about">
  <h1>about      <span>Mirabeau</span></h1>
  <p>Location:   <span>Rotterdam</span></p>
  <p>Supervisor: <span>Syb Wartna</span></p>
  <p>Division:   <span>Front-End</span></p>

  <div class="about-text">
    <h2>Ahead in a digital world</h2>
    <p>
      Creating world changing digital experiences is what makes our people tick.
      For we were born digital.
      We connect relevant data at the right place and the right time.
      We unite your business needs with customer needs and powerful technology.
    </p>
  </div>
</div>
