.persona {
  padding:1em ;

  p {
    position: relative;

    span {
      position: absolute;
      left: 7em;
    }
  }
}

.status {
  margin-top: 2em;

  p a {
    position: absolute;
    left: 13em;
  }
}

.persona-status {
    background: $pending;
    padding: .02em .3em .1em .3em;
}
