<ol class="legend">
  <li class="processes-one">
    <a href="#">
      <span class="accepted...">Accepted... \\\ Evaluation completed</span>
      Evaluates the project and discuss this with the client</a>
  </li>
  <li class="processes-one">
    <a href="#">Developing an action plan</a>
  </li>
  <li class="processes-one">
    <a href="#">Creates a concept</a>
  </li>
  <li class="processes-one">
    <a href="#">Creates a design</a>
  </li>
  <li class="processes-one">
    <a href="#">Presents the concept and / or design of the media expression</a>
  </li>
  <li class="processes-two">
    <a href="#">Planning media production</a>
  </li>
  <li class="processes-two">
    <a href="#">Arranging collaboration by third parties and establishing liability for production</a>
  </li>
  <li class="processes-two">
    <a href="#">greates a media expression</a>
  </li>
  <li class="processes-two">
    <a href="#">reflects on media expression</a>
  </li>
  <li class="processes-two">
    <a href="#">managing content</a>
  </li>
  <li class="precesses-three">
    <a href="#">Greates plan for starting own business</a>
  </li>
  <li class="precesses-three">
    <a href="#">Promotes own projects</a>
  </li>
  <li class="precesses-three">
    <a href="#">Regulates accounting issues</a>
  </li>
</ol>
